*{
    background-color:  #003a6f;
    ;
}

.imageLeft{
    width:50%;
}

.imageRight{
    width: 10rem;
    position: relative;
    margin-left: 18rem;
    margin-bottom: 18rem;
}

.elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}
