/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #003a6f;
    font-family: "louize", "Georgia", "Times", "Times New Roman", serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Flexbox for images to make them responsive */
.imageLeft, .imageRight {
    position: absolute;
    z-index: -1; /* To keep images in the background */
}

.imageLeft {
    width: 60%; /* 50% of the container width */
    top: 0;
    left: 0;
    object-fit: cover;
}

.imageRight {
    width: 50%; /* Initially 30% of the container width */
    bottom: 0;
    right: 0;
    object-fit: cover;
}

.text{
    width: 40%;
}

.coloredTextC{
    color: #9655FF;
}
.coloredTextO{
    color: #55D8FF;
}
.coloredTextL{
    color: #A3FF55;
}
.coloredTextD{
    color: #FFF855;
}
.coloredTextP{
    color: #FFB755;
}
.coloredTextL{
    color: #F955FF;
}
.coloredTextA{
    color: #FF3472;
}
.coloredTextY{
    color: #9655FF;
}

.coldplay{
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
}

/* Elements Container for text and buttons */
.elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: #c9c9c9; 
    margin-top: 100px; /* Space between images and content */
}

/* Heading Styles */
h1 {
    font-size: 8vw;
    margin-bottom: 10px;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}


h2 {
    font-size: 4vw;
    margin-bottom: 20px;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}

#months{
    color: #F955FF;
    font-size: x-large;
}
#days{
    color: #FFF855;
    font-size: x-large;
}
.location{
    color: inherit; /* Remove the default blue color */
    text-decoration: none; /* Remove the underline */
    color:#F955FF;
}

.locationIcon{
    color:#FF3472;
}

.counter, .playlist {
    margin-top: 10px;
}

.playlist a {
    text-decoration: none;
    color:#FFB755;
    font-size: 1.5rem;
    background-color: #003a6f;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Limelight", serif;
}

.flower{
    width: 7%;
}

.playlist a:hover {
    color: #FFF855;
}

